#Test Data

# 3rd project
db-4.8.30.NC/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
libtool
src/litecoin-cli
src/litecoin-tx
src/litecoind
src/qt/litecoin-qt
src/test/test_litecoin

#Mac data
autom4te.cache/.AppleDouble/
build-aux/.AppleDouble/
build-aux/m4/.AppleDouble/
contrib/.AppleDouble/
contrib/debian/.AppleDouble/
contrib/debian/examples/.AppleDouble/
contrib/debian/patches/.AppleDouble/
contrib/debian/source/.AppleDouble/
contrib/devtools/.AppleDouble/
contrib/gitian-descriptors/.AppleDouble/
contrib/gitian-keys/.AppleDouble/
contrib/init/.AppleDouble/
contrib/linearize/.AppleDouble/
contrib/macdeploy/.AppleDouble/
contrib/qos/.AppleDouble/
contrib/rpm/.AppleDouble/
contrib/seeds/.AppleDouble/
contrib/spendfrom/.AppleDouble/
contrib/testgen/.AppleDouble/
contrib/verify-commits/.AppleDouble/
contrib/verifybinaries/.AppleDouble/
contrib/windeploy/.AppleDouble/
contrib/zmq/.AppleDouble/
depends/.AppleDouble/
depends/builders/.AppleDouble/
depends/hosts/.AppleDouble/
depends/packages/.AppleDouble/
depends/patches/.AppleDouble/
depends/patches/native_biplist/.AppleDouble/
depends/patches/native_cdrkit/.AppleDouble/
depends/patches/native_mac_alias/.AppleDouble/
depends/patches/qt/.AppleDouble/
depends/patches/zeromq/.AppleDouble/
doc/.AppleDouble/
doc/gitian-building/.AppleDouble/
doc/litecoin-release-notes/.AppleDouble/
doc/man/.AppleDouble/
doc/release-notes/.AppleDouble/
share/.AppleDouble/
share/certs/.AppleDouble/
share/pixmaps/.AppleDouble/
share/qt/.AppleDouble/
share/rpcuser/.AppleDouble/
src/.AppleDouble/
src/.deps/.AppleDouble/
src/bench/.AppleDouble/
src/bench/.deps/.AppleDouble/
src/bench/data/.AppleDouble/
src/compat/.AppleDouble/
src/compat/.deps/.AppleDouble/
src/config/.AppleDouble/
src/consensus/.AppleDouble/
src/consensus/.deps/.AppleDouble/
src/crypto/.AppleDouble/
src/crypto/.deps/.AppleDouble/
src/crypto/ctaes/.AppleDouble/
src/leveldb/.AppleDouble/
src/leveldb/db/.AppleDouble/
src/leveldb/db/.deps/.AppleDouble/
src/leveldb/doc/.AppleDouble/
src/leveldb/doc/bench/.AppleDouble/
src/leveldb/helpers/.AppleDouble/
src/leveldb/helpers/memenv/.AppleDouble/
src/leveldb/helpers/memenv/.deps/.AppleDouble/
src/leveldb/include/.AppleDouble/
src/leveldb/include/leveldb/.AppleDouble/
src/leveldb/issues/.AppleDouble/
src/leveldb/port/.AppleDouble/
src/leveldb/port/.deps/.AppleDouble/
src/leveldb/port/win/.AppleDouble/
src/leveldb/table/.AppleDouble/
src/leveldb/table/.deps/.AppleDouble/
src/leveldb/util/.AppleDouble/
src/leveldb/util/.deps/.AppleDouble/
src/policy/.AppleDouble/
src/policy/.deps/.AppleDouble/
src/primitives/.AppleDouble/
src/primitives/.deps/.AppleDouble/
src/qt/.AppleDouble/
src/qt/.deps/.AppleDouble/
src/qt/forms/.AppleDouble/
src/qt/locale/.AppleDouble/
src/qt/res/.AppleDouble/
src/qt/res/icons/.AppleDouble/
src/qt/res/movies/.AppleDouble/
src/qt/res/src/.AppleDouble/
src/qt/test/.AppleDouble/
src/qt/test/.deps/.AppleDouble/
src/rpc/.AppleDouble/
src/rpc/.deps/.AppleDouble/
src/script/.AppleDouble/
src/script/.deps/.AppleDouble/
src/secp256k1/.AppleDouble/
src/secp256k1/build-aux/.AppleDouble/
src/secp256k1/build-aux/m4/.AppleDouble/
src/secp256k1/contrib/.AppleDouble/
src/secp256k1/include/.AppleDouble/
src/secp256k1/obj/.AppleDouble/
src/secp256k1/sage/.AppleDouble/
src/secp256k1/src/.AppleDouble/
src/secp256k1/src/asm/.AppleDouble/
src/secp256k1/src/java/.AppleDouble/
src/secp256k1/src/java/org/.AppleDouble/
src/secp256k1/src/java/org/bitcoin/.AppleDouble/
src/secp256k1/src/modules/.AppleDouble/
src/secp256k1/src/modules/ecdh/.AppleDouble/
src/secp256k1/src/modules/recovery/.AppleDouble/
src/support/.AppleDouble/
src/support/.deps/.AppleDouble/
src/support/allocators/.AppleDouble/
src/test/.AppleDouble/
src/test/.deps/.AppleDouble/
src/test/data/.AppleDouble/
src/univalue/.AppleDouble/
src/univalue/build-aux/.AppleDouble/
src/univalue/build-aux/m4/.AppleDouble/
src/univalue/gen/.AppleDouble/
src/univalue/include/.AppleDouble/
src/univalue/lib/.AppleDouble/
src/univalue/pc/.AppleDouble/
src/univalue/test/.AppleDouble/
src/wallet/.AppleDouble/
src/wallet/.deps/.AppleDouble/
src/wallet/test/.AppleDouble/
src/wallet/test/.deps/.AppleDouble/
src/zmq/.AppleDouble/
src/zmq/.deps/.AppleDouble/
test/.AppleDouble/
test/functional/.AppleDouble/
test/functional/test_framework/.AppleDouble/
test/util/.AppleDouble/
test/util/data/.AppleDouble/


